<!doctype html>
<html >
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    <div class="wrapper" >  
        <header class="main-head">
           <a href="\">
               <h1 class="headerText">Dr Jeremiah Kelly</h1>
           </a>
        </header>

        <article class="content"style="padding-left:1em;">

{{content}}


</article> 

        <aside class="side">
{% include navigation.html %}
        </aside>

        <div class="credit">
              <a href="#" class="fa fa-github"></a>
<a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
            <a href = "http://www.emkayoh.com">  &copy;  Emkayoh Consulting Ltd </a> 2020
        </div>

        <footer class="main-footer">
            Company Number 

        </footer>

    </div>
  </body>


</html>
